/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}
@media only screen and (max-width: 736px) {
  .separateOnPageNav .navPusher {
    padding-top: 50px;
  }
  .docsNavContainer nav.toc .navBreadcrumb {
    background: #f9f9f9;
  }
  .homeContainer img {
    max-width: 360px !important;
  }
}
@media only screen and (min-width: 736px) {
}
@media only screen and (min-width: 1024px) {
  .sideNavVisible .navPusher .mainContainer {
    max-width: 80%;
  }
}
@media only screen and (max-width: 1024px){
  .reactNavSearchWrapper input#search_input_react {
    background-color: #303030;
  }
}
@media only screen and (max-width: 736px) {
  .homeContainer .homeWrapper {
    padding: 4em 10px;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.otf) format("otf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Bold.otf) format("otf");
  font-weight: bold;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-BoldIt.otf) format("otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-It.otf) format("otf");
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Light.otf) format("otf");
  font-weight: lighter;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-LightIt.otf) format("otf");
  font-weight: lighter;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
}

code {
  padding: 2px 4px;
  font-size: 85%;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  display: none;
}

.fixedHeaderContainer {
  padding: 0px;
  background: #f4f4f4;
}

.fixedHeaderContainer a {
  height: 50px;
}

.navigationSlider .slidingNav ul li a {
  line-height: 50px;
  color: #888;
  height: 50px;
}

.sideNav {
  height: 100%;
  position: fixed;
  background-color: white;
}

.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background: #888;
  color: #fff;
}

.mainContainer a {
  text-decoration: underline;
  color: #4183c4;
}

.icon {
  height: 30px;
  margin-bottom: 6px;
}

.navPusher {
  padding-top: 25px;
}
.homeContainer img {
  max-width: 800px;
}

.cardDisplay {
  border: 1px solid lightgray;
  text-align: left;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 2px 2px lightgray;
}

.headers {
  font-size: 20px;
  margin-bottom: 4px;
  font-weight: 300;
  color: #55565b;
}
h1,
h2,
h3 {
  color: #55565b;
  margin-top: 5px;
}

.cardDisplay:hover {
  box-shadow: 2px 2px 2px #ffe184;
  border: 1px solid #e5ad00;
}

.allCards {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 810px) {
  .allCards {
    grid-template-columns: 1fr;
  }
}

/* Navigation Bar Styles */
.fixedHeaderContainer {
  background-color: #101010;
}

/* Hiding the white W&B in the nav bar*/
.fixedHeaderContainer header h2 {
  display: none;
}