/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}
@media only screen and (max-width: 736px) {
  .separateOnPageNav .navPusher {
    padding-top: 50px;
  }
  .docsNavContainer nav.toc .navBreadcrumb {
    background: #f9f9f9;
  }
  .homeContainer img {
    max-width: 360px !important;
  }
}
@media only screen and (min-width: 736px) {
}
@media only screen and (min-width: 1024px) {
  .sideNavVisible .navPusher .mainContainer {
    max-width: 80%;
  }
}
@media only screen and (max-width: 1024px){
  .reactNavSearchWrapper input#search_input_react {
    background-color: #303030;
  }
}
@media only screen and (max-width: 736px) {
  .homeContainer .homeWrapper {
    padding: 4em 10px;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.otf) format("otf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Bold.otf) format("otf");
  font-weight: bold;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-BoldIt.otf) format("otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-It.otf) format("otf");
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Light.otf) format("otf");
  font-weight: lighter;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-LightIt.otf) format("otf");
  font-weight: lighter;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
}

code {
  padding: 2px 4px;
  font-size: 85%;
  color: #585260;
  background-color: #f7f8fa;
  /* font-family: "PT Mono"; */
}

.hljs {
  background-color: #f6f9fa;
}
.hljs-number, .hljs-params {
  color: #5ca9ec;
}
.hljs-title {
  color: #40ce5c;
}
.hljs-keyword {
  color: #00ceaf;
}
.hljs-string {
  color: #1cbee3;
}
.hljs-attr {
  /* color: #9a68df; */
}
.hljs-comment {
  color: #8d8998;
}
.hljs-selector-class {
  color: #be4678;
}
.mainContainer a {
  text-decoration: none;
  color: #3b95e4;
}

input#search_input_react {
  background-color: #363636;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  display: none;
}

.fixedHeaderContainer {
  padding: 0px;
  background: #f4f4f4;
}

.fixedHeaderContainer a {
  height: 50px;
}

.navigationSlider .slidingNav ul li a {
  line-height: 50px;
  color: #999999;
  height: 50px;
  font-weight: 400;
}

.sideNav {
  height: 100%;
  position: fixed;
  background-color: white;
}

.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background: #404040;
  color: #fff;
}

/* Navigation Bar Styles */
.fixedHeaderContainer {
  background-color: #101010;
}
.navigationSlider .slidingNav ul {
  background-color: #202020;
}

/* Hiding the white W&B in the nav bar*/
.fixedHeaderContainer header h2 {
  display: none;
}

blockquote {
  background-color: #fff9ed;
  border-left: 8px solid #fff2cc;
  border-radius: 4px;
}

li.navListItem.navListItemActive {
  /* background-color: #fff4bb4d; */
  /* border-left: 8px solid #fff9c2; */
}

.toc .toggleNav ul li.navListItemActive a {
  color: #e8aa22;
}